<div class="container">
    <div class="raw">
        <div class="media col-12 mt-5" *ngFor="let movie of popularMovies.results">
            <img [src]="getPoster(movie)" class="align-self-start mr-3" alt="...">
            <div class="media-body">
                <h3 class="mt-0">{{movie.title}}</h3>
                <h5>{{movie.vote_average}}/10</h5>
                <p>{{movie.overview}}</p>
                <p *ngIf="movie.adult">Movie forbidden to minors</p>
                <p>movie viewed {{movie.popularity}} times</p>
            </div>
        </div>
    </div>
</div>



<div class="container">
        <div class="raw">
            <div class="media col-12 mt-5" *ngFor="let show of popularShows.results">
                <img [src]="getPoster(show)" class="align-self-start mr-3" alt="...">
                <div class="media-body">
                    <h3 class="mt-0">{{show.original_name}}</h3>
                    <h5>{{show.vote_average}}/10</h5>
                    <p>{{show.overview}}</p>
                    <p>movie viewed {{show.popularity}} times</p>
                </div>
            </div>
        </div>
    </div>