<div class="container">
    <div class="raw">
        <div class="media col-12 mt-5" *ngFor="let movie of PopularList.results">
            <img src="{{base_url + file_size + movie.poster_path}}" class="align-self-start mr-3" alt="...">
            <div class="media-body">
                <h3 class="mt-0">{{movie.title}}</h3>
                <h5>{{movie.vote_average}}/10</h5>
                <p>{{movie.overview}}</p>
                <p *ngIf="movie.adult">Movie forbidden to minors</p>
                <p>movie viewed {{movie.popularity}} times</p>
            </div>
        </div>
    </div>
</div>



<div class="container">
        <div class="raw">
            <div class="media col-12 mt-5" *ngFor="let tv of PopularListTv.results">
                <img src="{{base_url + file_size + tv.poster_path}}" class="align-self-start mr-3" alt="...">
                <div class="media-body">
                    <h3 class="mt-0">{{tv.original_name}}</h3>
                    <h5>{{tv.vote_average}}/10</h5>
                    <p>{{tv.overview}}</p>
                    <p>movie viewed {{tv.popularity}} times</p>
                </div>
            </div>
        </div>
    </div>